/* replaced by <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap"> on index.html 
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap"); */


  
/* replaced by 
const GlobalStyle = createGlobalStyle` on GlobalStyle.js
and <GlobalStyle /> on App.js
  * {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: grey;
} */

/* replaced by const BtnHeader = styled.a on index.jsx from Cabecalho
  .btn-primario {
  text-align: center;
  border-radius: 3px;
  padding: 5px 20px;
  margin: 0 10px;
  font-weight: 600;
  border: 2px solid white;

  color: white;
  background: transparent;
} */

/* replaced by const BtnHeader = styled.a on index.jsx from Cabecalho 
  .btn-secundario {
  text-align: center;
  border-radius: 3px;
  padding: 5px 20px;
  margin: 0 10px;
  font-weight: 600;
  border: 2px solid white;

  background: white;
  color: #41d3be;
} */


/* replaced by styled.h1
.titulo {
  color: grey;
  padding: 25px 0;
} */

/* replaced by const StyledHeader = styled.nav` on index.jsx from Cabecalho
  .cabecalho {
  background-color: #41d3be;
  display: flex;
  justify-content: space-between;
  padding: 0 15vw;
  height: 10vh;
  align-items: center;
} */

/* replaced by const Container = styled.div` on index.jsx from Container 
  .container {
  background-color: #f1f1f1;
  min-height: 90vh;
  padding: 0px 15vw;
} */

/* replaced by const Content = styled.section` on index.jsx from Container 
  .conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* replaced by const Logo = styled.img` on index.jsx from Cabecalho
  .imagem-logo {
  height: 50px;
  width: 50px;
} */

/* replaced by const Icone = styled.img` on index.jsx from UI 
  .imagem-icone {
  height: 25px;
  width: 25px;
} */

/* replaced by const Button = styled.button` on index.jsx from UI
.btn {
  margin: 15px auto 0px auto;
  display: block;
  border-radius: 20px;
  background-color: #41d3be;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 20px;
  cursor: pointer;
} */

/* replaced by const Box = styled.div` on index.jsx from UI 
  .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.04);
  padding: 20px;
  width: 48%;
} */

/* replaced by const Saldo = styled.div` on index.jsx from UI  
  .saldo {
  font-weight: 700;
  font-size: 32px;
} */

/* replaced by const Detail = styled.span` on index.jsx from UI  
  .detalhe {
  color: #41d3be;
  font-size: 24px;
} */

@media (max-width: 800px) {
  .box {
    width: 95%;
    margin: 5px;
  }

  .conteudo {
    flex-direction: column;
  }
}
